
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Nunito', sans-serif;
    color: #333;
    line-height: 1.6;
    background-color: #ffffff;
}

/* --- ESTILOS DO Navbar --- */
.header {
    background-color: #276749;
}

.container-fluid {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1150px;
    margin: 0 auto;
}

.navbar-brand {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.logo {
    height: 30px;
}

.site-title {
    font-size: 1.5rem;
    color: #E0E0E0;
    margin-bottom: 0;
    font-weight: 700;
}

.navbar-nav {
    gap: 1.5rem;
    font-weight: 700;
}

.navbar-nav .nav-link:hover {
    color: #ABD3C0;
}

/* --- ESTILOS DO CONTEÚDO DO ARTIGO ---*/
.article-content .article-title {
font-size: 2.8rem; 
font-weight: 700;
color: #2c3e50; 
margin-bottom: 1.5rem;
line-height: 1.2;
}

.article-content p {
font-size: 1.15rem; 
line-height: 1.8;  
color: #34495e;  
margin-bottom: 1.5rem;
}

/* --- ESTILOS DA IMAGEM NO ARTIGO --- */
.article-content img {
display: block; 
margin: 2rem auto;
max-width: 50%;
height: auto;     
border-radius: 8px; 
}


/* --- ESTILOS DO RODAPÉ --- */

footer {
    background-color: #276648;
    color: #ffffff;
    padding: 40px 20px;
    font-family: Nunito, sans-serif;
    width: 100%;
    margin: 0 auto;
}


.footer-container, .footer-legal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1150px;
    margin: 0 auto;
    gap: 20px;
}

.footer-container {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding-bottom: 30px;
}

.footer-legal {
    margin-top: 30px;
}

.footer-brand {
    display: flex;
    align-items: center;
    gap: 15px;
}

.footer-logo {
    height: 40px;
}

.footer-text {
    margin: 0;
    font-size: 1.5rem;
    font-weight: 600;
}

.footer-social {
    display: flex;
    gap: 10px;
}

.footer-social a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    border: 1px solid #979797;
    border-radius: 50%;
    transition: background-color 0.3s ease;
}

.footer-social a:hover {
    border-color: #ffffff;
    text-decoration: none;
}

.footer-social img {
    height: 18px;
    width: 18px;
}

.footer-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
}

.footer-legal p {
    margin: 0;
    color: #bdc3c7;
    font-size: 0.9rem;
}

footer a {
    color: #ffffff;
    text-decoration: none;
}

.footer-nav a:hover {
    text-decoration: underline;
}
